* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style: none; }

a {
  text-decoration: none; }

/* Titulos */
h2 {
  padding: 80px 40px;
  position: relative;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: #0f0f0f; }

h3 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #0f0f0f; }

/* Parrafos */
p {
  color: #0c0c0c;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20;
  text-indent: 60px;
  letter-spacing: 3px;
  line-height: 30px; }

.bannerDiv {
  width: 100%; }
  .bannerDiv img {
    width: 100%;
    height: 700px;
    top: 0; }
  .bannerDiv h1 {
    position: absolute;
    padding: 50px;
    top: 40%;
    left: 60%;
    font-size: 40px;
    right: 5%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #0f0f0f;
    background-color: rgba(230, 230, 209, 0.514); }

/* Background */
.background {
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #65a2c5, #94b0da, #e7ecf3d7);
  background-attachment: fixed; }

.background-2 {
  width: 100%;
  height: 100%;
  background-color: #f2f5fa;
  background-attachment: fixed; }

::-webkit-scrollbar {
  width: 20px; }

::-webkit-scrollbar-track {
  background: #dddddd; }

::-webkit-scrollbar-thumb {
  background: #ff802b; }

.containerPNF {
  text-align: center; }
  .containerPNF h1 {
    font-size: 80px; }
  .containerPNF p {
    padding: 27px; }

.my-button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden; }
  .my-button a {
    text-decoration: none; }
    .my-button a:hover {
      color: red; }

.burger-menu {
  display: none; }

.dropdown {
  display: none; }

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: #14374e;
  font-size: 18px;
  position: static;
  padding: 20px;
  transition: all ease 0.5s;
  top: 0; }

.barraNav {
  display: flex;
  flex-flow: row wrap;
  align-self: center;
  justify-self: center;
  gap: 35px;
  right: 50px; }
  .barraNav li a {
    color: #d4e1f5; }
    .barraNav li a:hover {
      background-color: #97abc23a;
      padding: 39px; }

.logo-1 a {
  text-decoration: none;
  color: #ff802b;
  font-size: 10px;
  font-family: 'Merriweather Sans', sans-serif; }
  .logo-1 a img {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 6px;
    border-radius: 50%; }

body {
  background-color: #c6e7e7; }

.sobreNosotros {
  position: relative;
  width: 100%;
  padding: 60px;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0; }
  .sobreNosotros h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 80px;
    padding-bottom: 40px;
    color: #0f0f0f;
    text-decoration-line: underline; }

.galeria {
  width: 45rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
  margin-left: 10px; }

.gImg {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  object-fit: cover;
  position: sticky;
  top: 0; }

.carH2 {
  width: 100%;
  background-color: #eb8440d2;
  padding: 20px;
  text-align: center; }
  .carH2 h2 {
    color: aliceblue;
    font-style: initial;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
    letter-spacing: 2px; }

/* Servicios */
.servicios {
  width: 100%;
  padding: 5px;
  margin: 0;
  border: 20px double #071E3D; }

.serviciosH h2 {
  margin-top: 0;
  padding: 38px 40px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap; }

.serviciosRow-1, .serviciosRow-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 80px;
  padding: 45px;
  justify-content: space-evenly; }

.iconos-1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px; }
  .iconos-1 img {
    width: 40px;
    height: 40px; }
  .iconos-1 p {
    text-indent: 0px; }

.iconos-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px; }
  .iconos-2 img {
    width: 40px;
    height: 40px; }
  .iconos-2 p {
    text-indent: 0px; }

.iconos-3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px; }
  .iconos-3 img {
    width: 40px;
    height: 40px; }
  .iconos-3 p {
    text-indent: 0px; }

.iconos-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px; }
  .iconos-4 img {
    width: 40px;
    height: 40px; }
  .iconos-4 p {
    text-indent: 0px; }

.iconos-5 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px; }
  .iconos-5 img {
    width: 40px;
    height: 40px; }
  .iconos-5 p {
    text-indent: 0px; }

.iconos-6 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px; }
  .iconos-6 img {
    width: 40px;
    height: 40px; }
  .iconos-6 p {
    text-indent: 0px; }

.iconos-7 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px; }
  .iconos-7 img {
    width: 40px;
    height: 40px; }
  .iconos-7 p {
    text-indent: 0px; }

.iconos-8 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px; }
  .iconos-8 img {
    width: 40px;
    height: 40px; }
  .iconos-8 p {
    text-indent: 0px; }

.cardsIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 80px; }

.cardIndex {
  overflow: visible;
  position: relative;
  width: 180px;
  height: 223px;
  background: #fff;
  box-shadow: 1px 12px 30px rgba(0, 0, 0, 0.2); }

.cardIndex:before,
.cardIndex:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -99; }

.details {
  position: absolute;
  left: -10px;
  right: 0;
  bottom: 5px;
  height: 60px;
  text-align: center; }

/*Image*/
.imgbox {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: whitesmoke;
  transition: 0.5s;
  z-index: 1; }
  .imgbox img {
    width: 159px;
    height: 150px;
    object-fit: cover; }

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*Text*/
.titleIndex {
  font-weight: 600;
  font-size: 15px;
  color: #ff802b;
  padding: 25px 28px; }

/*Hover*/
.cardIndex:hover .imgbox {
  bottom: 80px; }

.cardIndex:hover:before {
  transform: rotate(20deg); }

.cardIndex:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2); }

/* Reserva */
.reserva {
  width: 100%;
  background-color: #061e41;
  text-align: center; }
  .reserva h2 {
    color: aliceblue;
    font-size: 25;
    padding: 30px; }

.reservaForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
  gap: 10px; }
  .reservaForm p {
    margin: 15px;
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: right;
    color: #ff802b; }

.form {
  margin: 30px;
  max-width: 344px;
  width: 100%;
  background-color: #9CD3D3;
  padding: 15px;
  box-shadow: 0px 2px 6px 4px rgba(42, 42, 44, 0.452);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px; }

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1a202c; }

.label {
  color: black;
  margin-bottom: 4px; }

.input {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 1rem;
  color: #4a5568;
  outline: none;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in-out; }

.input:focus {
  background-color: #daf2f8;
  box-shadow: 0 0 0 2px #cbd5e0; }

.input:valid {
  border: 1px solid #010020; }

.input:invalid {
  border: 1px solid rgba(14, 14, 14, 0.116); }

.submit {
  background-color: #1a202c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out; }
  .submit a {
    text-decoration: none;
    color: #fff; }

/* Footer */
.logo-2 a img {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 4px;
  border-radius: 50%; }

footer section {
  display: flex;
  width: 100%;
  height: 186px;
  justify-content: space-between;
  align-items: end;
  background-color: #94b0da;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 15px;
  font-weight: lighter;
  padding: 25px; }

.barraFooter {
  display: flex;
  flex-flow: row wrap;
  gap: 80px;
  justify-content: end;
  align-content: end; }
  .barraFooter li a img {
    width: 20px;
    height: 20px; }

.barraFooter-2 {
  margin-top: 10px;
  text-align: left;
  justify-items: flex-end;
  align-items: end; }
  .barraFooter-2 h3 {
    margin-left: 30px;
    margin-bottom: 20px; }

.habitaciones {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 15px; }

.titleH {
  width: 100%;
  text-align: center; }

.item-1, .item-3 {
  display: flex;
  flex-direction: row; }
  .item-1 img, .item-3 img {
    width: 60%;
    height: auto; }
  .item-1 p, .item-3 p {
    padding: 65px;
    text-align: center;
    border: 12px double #071E3D; }

.item-2 {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: aliceblue;
  border: 3px solid #eb8440d2; }
  .item-2 img {
    width: 60%;
    height: auto; }
  .item-2 p {
    padding: 65px;
    text-align: center; }

/* Pagina SPA */
.spa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px; }

.pSmall {
  font-size: x-small; }

.imgS-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  height: 395px;
  border-radius: 60px;
  background: #d5f0f0;
  box-shadow: -15px 15px 30px #9c9b9b, -15px -15px 30px #eff8f8;
  padding: 10px;
  margin-bottom: 40px; }
  .imgS-1 img {
    width: 300px;
    border-radius: 50%; }
  .imgS-1 p {
    margin-top: 0px;
    width: 60%;
    padding: 15px; }

.imgS-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 4px;
  height: 395px;
  margin-bottom: 40px;
  border-radius: 60px;
  background: #d5f0f0;
  box-shadow: 15px 15px 30px #9c9b9b, -15px -15px 30px #eff8f8; }
  .imgS-2 img {
    width: 300px;
    border-radius: 50%;
    padding: 40px; }
  .imgS-2 p {
    width: 70%;
    padding: 4px; }

.imgS-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 26px;
  margin-bottom: 40px;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 501px;
  border-radius: 60px;
  background: #d5f0f0;
  box-shadow: -15px 15px 30px #9c9b9b, -15px -15px 30px #eff8f8; }
  .imgS-3 img {
    width: 400px;
    align-items: center;
    padding: 10px; }
  .imgS-3 p {
    margin-top: 5px;
    text-align: center; }

/* Pagina RESTO-BAR */
.restoTitulo {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #020d1d;
  align-items: center;
  padding: 40px; }
  .restoTitulo h2 {
    padding: 60px;
    color: aliceblue;
    margin: 20px;
    border: 10px; }
  .restoTitulo p {
    color: aliceblue;
    margin-bottom: 30px; }

.restoImg {
  display: flex;
  flex-direction: row;
  background-color: #a0c3d1c0;
  row-gap: 20px;
  align-items: center;
  padding: 0px; }
  .restoImg img {
    width: 50%; }
  .restoImg p {
    padding: 20px;
    margin: 20px;
    border: 10px; }

.horario {
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: aliceblue; }
  .horario h3 {
    color: #ff802b;
    font-size: 25px;
    padding: 15px; }

.containerB {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 2px;
  margin-left: 0px;
  margin-bottom: 4px; }

.box {
  display: flex;
  flex: 1;
  transition: 0.4s; }
  .box img {
    width: 100%;
    height: 512px;
    transition: 0.4s;
    object-fit: cover;
    filter: grayscale(1); }
  .box:hover {
    flex: 3; }
    .box:hover img {
      filter: grayscale(0); }

/* Pagina Actividades */
.mainActividades {
  background-color: aliceblue; }

.sectionAct {
  padding: 5px 5px 60px 0px;
  margin-top: 0px; }
  .sectionAct h2 {
    padding: 44px 41px; }
  .sectionAct p {
    font-size: 15px;
    font-style: normal;
    color: black;
    letter-spacing: 2px;
    background-color: #9CD3D3;
    padding: 50px;
    width: 100%; }

.cardS {
  width: 100%;
  padding: 0px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  row-gap: 50px; }

.card {
  height: 280px;
  width: 300px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 1em;
  box-shadow: 0 0 20px 8px #d0d0d0; }

.card-image {
  height: 100%;
  position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: aliceblue; }
  .card-image img {
    width: 300px; }

.card-description {
  display: flex;
  position: absolute;
  gap: 2px;
  flex-direction: column;
  background-color: #eb8440d2;
  height: 60%;
  bottom: 0;
  border-radius: 1em 1em 0 0;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem; }

.text-title {
  font-size: 20;
  text-indent: 0px;
  font-weight: 600;
  text-align: left; }

.text-body {
  font-size: 15;
  line-height: 150%;
  letter-spacing: 2px; }

.card:hover .card-description {
  transform: translateY(80%); }

.newsletterFlex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 46px; }

@media (max-width: 1024px) {
  .bannerDiv h1 {
    padding: 50px;
    top: 40%;
    left: 60%;
    font-size: 40px; }
  .servicios {
    padding: 10px; }
  .serviciosRow-1, .serviciosRow-2 {
    gap: 28px;
    padding: 26px; }
  .serviciosRow-2 {
    gap: 3px;
    padding: 39px; }
  .item-2 img {
    width: 40%; }
  .item-1 p, .item-3 p {
    padding: 29px;
    text-align: left; }
  .imgS-2 {
    display: flex;
    flex-direction: column;
    height: 430px; }
    .imgS-2 p {
      width: 50%;
      padding: 0px; }
  .imgS-3 {
    padding: 25px;
    margin-bottom: 61px;
    justify-content: center; } }

@media (max-width: 860px) {
  header {
    justify-content: center;
    margin: 0px;
    position: static;
    padding: 20px; }
  .barraNav li a {
    font-size: 15px;
    font-weight: bold; }
  .logo-1 {
    display: none; }
  .bannerDiv img {
    width: 100%;
    height: auto; }
  .bannerDiv h1 {
    padding: 20px;
    top: 30%;
    font-size: 30px; }
  .item-2 p {
    padding: 25px; }
  .serviciosRow-2 {
    gap: 15px;
    padding: 10px; }
  .imgS-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 490px; }
  .imgS-2 {
    padding: 28px;
    height: 590px;
    justify-content: center img;
      justify-content-width: 239px;
      justify-content-padding: 0px; } }

@media (max-width: 768px) {
  header {
    padding: 10; }
  .barraNav {
    gap: 40px; }
  .bannerDiv h1 {
    padding: 15px; }
  .galeria {
    width: 42rem;
    height: 24rem; }
  .serviciosRow-1, .serviciosRow-2 {
    gap: 39px;
    padding: 17px; }
  .serviciosRow-2 {
    gap: 23px;
    padding: 16px; }
  .habitaciones {
    display: flex;
    flex-direction: column;
    margin-bottom: 47px;
    gap: 10px; }
  .item-1, .item-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    .item-1 img, .item-3 img {
      width: 100%; }
    .item-1 p, .item-3 p {
      padding: 42px; }
  .item-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }
    .item-2 img {
      width: 100%; } }

@media (max-width: 684px) {
  .barraNav {
    display: none; }
  .burger-menu {
    position: relative;
    display: inline-block; }
  .burger-menu .bar {
    width: 30px;
    height: 3px;
    background-color: #eb712a;
    margin: 6px 0; }
  .burger-menu .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #99becf;
    min-width: 160px;
    z-index: 1; }
    .burger-menu .dropdown ul {
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      box-shadow: 5px 5px 40px #9c9b9b; }
      .burger-menu .dropdown ul li {
        padding: 10px 14px;
        cursor: pointer;
        border-bottom: 2px solid #333;
        box-shadow: 5px 5px 40px #9c9b9b; }
        .burger-menu .dropdown ul li a {
          text-decoration: none;
          color: #333;
          padding: 12px 16px; }
  .burger-menu:hover .dropdown {
    display: block; }
  header {
    position: static;
    justify-content: flex-start;
    padding: 15px; }
  .bannerDiv {
    padding: 0px; }
    .bannerDiv img {
      width: 100%;
      height: auto; }
    .bannerDiv h1 {
      padding: 10px;
      font-size: 20px;
      top: 20%; }
  .galeria {
    width: 34rem;
    height: 19rem; }
  .form {
    margin-left: 0; }
  .servicios {
    padding: 26px; }
  .serviciosH h2 {
    padding: 23px 40px; }
  .serviciosRow-1, .serviciosRow-2 {
    gap: 20px; }
  .serviciosRow-2 {
    gap: 42px;
    padding: 18px; }
  footer section {
    height: 100px;
    background-color: #94b0da;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 10px;
    padding: 19px; }
  .logo-1 a img {
    display: none; }
  .barraFooter {
    gap: 30px; }
    .barraFooter li a img {
      width: 20px;
      height: 20px; }
  .barraFooter-2 {
    text-align: left;
    justify-items: flex-end;
    align-items: end; }
    .barraFooter-2 h3 {
      margin-left: 30px;
      margin-bottom: 0px; }
  .spa {
    margin-top: 5px;
    padding: 20px; }
    .spa h2 {
      padding: 61px 188px; }
    .spa p {
      text-indent: 0px; }
  .imgS-1 {
    width: 100%;
    padding: 5px;
    height: 523px; }
    .imgS-1 img {
      width: 200px;
      padding: 10px; }
    .imgS-1 p {
      margin-top: 0px;
      width: 100%;
      padding: 2px; }
  .imgS-2 {
    flex-direction: row;
    padding: 28px;
    height: 709px; }
    .imgS-2 img {
      width: 221px;
      border-radius: 50%;
      padding: 0px; }
    .imgS-2 p {
      padding: 6px;
      width: 100%; }
  .imgS-3 {
    flex-direction: column;
    align-items: flex-start;
    padding: 6px;
    height: 544px; }
    .imgS-3 img {
      width: 350px;
      padding: 30px;
      align-items: flex-start; }
    .imgS-3 p {
      padding: 10px;
      margin-top: 14px; }
  .restoTitulo {
    margin-top: 0px;
    row-gap: 2px;
    padding: 20px;
    justify-content: space-between; }
  .containerB {
    display: flex;
    margin: 2px;
    background-color: #90c7ddbb;
    align-items: center; }
  .restoImg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #98d4eb9c;
    column-gap: 2px;
    align-items: center;
    padding: 0px; }
    .restoImg img {
      width: 100%; }
    .restoImg p {
      padding: 20px;
      margin: 20px;
      border: 10px; }
  .box {
    display: block; }
    .box img {
      width: 200px;
      height: auto;
      filter: grayscale(0);
      object-fit: contain; }
    .box:hover img {
      filter: grayscale(0); } }

@media (max-width: 562px) {
  .galeria {
    width: 24rem;
    height: 15rem; }
  .imgS-2 {
    padding: 24px;
    height: 901px; }
  .imgS-3 {
    padding: 4px;
    height: 625px; } }

@media (max-width: 425px) {
  header {
    position: static; }
  .bannerDiv h1 {
    padding: 5px;
    font-size: 20px;
    top: 10%; }
  .sobreNosotros {
    padding: 54px;
    padding-top: 4px; }
    .sobreNosotros h2 {
      padding-left: 36px; }
  .spa {
    align-items: flex-start;
    margin-top: 0px;
    padding: 20px; }
    .spa h2 {
      padding: 62px 160px; }
  .barraFooter {
    gap: 25px; }
    .barraFooter li a img {
      width: 20px;
      height: 20px; }
  .galeria {
    width: 20rem;
    height: 16rem; }
  .imgS-2 {
    padding: 19px;
    height: 871px; }
    .imgS-2 img {
      width: 187px; }
  .imgS-3 {
    padding: 15px;
    height: 842px; } }

@media (max-width: 320px) {
  header {
    position: static; }
  .barraNav {
    display: none; }
  .bannerDiv {
    padding: 0px; }
    .bannerDiv h1 {
      padding: 0px;
      top: 15%;
      background-color: rgba(255, 255, 255, 0.062); }
  .sobreNosotros {
    padding: 24px;
    padding-top: 0px; }
    .sobreNosotros h2 {
      padding: 62px 40px; }
    .sobreNosotros p {
      text-indent: 3px; }
  .cardsIndex {
    margin: 13px;
    gap: 35px; }
  .galeria {
    width: 18rem;
    height: 14rem;
    margin-left: 0px; }
  .serviciosRow-1, .serviciosRow-2 {
    justify-content: center;
    gap: 66px;
    padding: 38px; }
  .serviciosRow-2 {
    justify-content: center;
    gap: 64px;
    padding: 51px; }
  .servicios {
    padding: 0; }
  .carH2 h2 {
    padding: 0px; }
  .habitaciones {
    margin-bottom: 47px;
    gap: 28px; }
  .item-1 img, .item-3 img {
    width: 100%; }
  .item-1 p, .item-3 p {
    padding: 27px; }
  .item-2 img {
    width: 100%; }
  .item-2 p {
    padding: 32px; }
  .form {
    margin-left: 0; }
  .restoTitulo h2 {
    padding: 44px; }
  .containerB {
    flex-direction: column; }
  .restoTitulo h2 {
    padding: 14px; }
  .spa {
    width: 100%;
    margin-top: 0px;
    padding: 10px;
    align-items: flex-start; }
    .spa h2 {
      padding: 57px 107px; }
  .imgS-2 {
    padding: 8px;
    height: 1003px; }
  .imgS-3 img {
    width: 100%;
    padding: 10px; }
  .imgS-3 p {
    padding: 9px;
    margin-top: 0px; }
  footer section {
    align-items: baseline;
    padding: 15px; }
  .barraFooter-2 {
    margin-top: 5px; }
    .barraFooter-2 h3 {
      margin-top: 0px;
      margin-left: 4px;
      margin-bottom: 0px; }
      .barraFooter-2 h3 ul {
        margin-top: 10px;
        margin-bottom: 0px; }
  .barraFooter {
    gap: 10px; }
    .barraFooter li a img {
      width: 10px;
      height: 10px; } }
