.habitaciones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom:15px;
    }

    .titleH{
    width: 100%;
    text-align: center;
    }

    .item-1{
    display: flex;
    flex-direction:row;
    img{
        width: 60%;
        height: auto;
    }
    p{
        padding: 65px;
        text-align:center;
        border: 12px double #071E3D;
        
    }
    }

    .item-2{
        display: flex;
        flex-direction:row-reverse;
        width: 100%;
        background-color: $colorBg;
        border: 3px  solid $colorvf;
        img{
            width: 60%;
            height: auto;
        }
        p{
            padding: 65px;
            text-align:center;
        }
    }

    .item-3{
        @extend .item-1;
    }

