
@media (max-width:320px){

    header {
        position:static;
        }
.barraNav{
    display: none;
}
.bannerDiv{
    padding: 0px;
    h1 {
            padding: 0px;
            top: 15%;
            background-color:rgba(255, 255, 255, 0.062);
        }
    
}


.sobreNosotros {
    padding: 24px;
    padding-top: 0px;
    h2{
        padding: 62px 40px;
    }
    p{
        text-indent: 3px;
    }
}


.cardsIndex {
    margin: 13px;
    gap:35px;
}
.galeria {
    width: 18rem;
    height: 14rem;
    margin-left: 0px;
}

.serviciosRow-1{
    justify-content: center;
    gap: 66px;
    padding: 38px;
}

.serviciosRow-2{
    justify-content: center;
    gap: 64px;
    padding: 51px;
}
.servicios{
    padding: 0;
}

.carH2{

h2 {
    padding: 0px;
    }
}


.habitaciones {
    margin-bottom: 47px;
    gap: 28px;
    }


.item-1{
    img{
        width:100%;
    }
    p{
        padding: 27px;
    }
    }

    .item-2{
        img{
            width:100%;
        }
        p {
        padding: 32px;
        }
    }



.form{
    margin-left: 0;
}
    

    .restoTitulo h2 {
        padding: 44px;
    }

    .containerB{
        flex-direction: column;
    
    }

    .restoTitulo{
        h2 {
        padding: 14px;
        }
    }
    .spa {
        width: 100%;
        margin-top: 0px;
        padding: 10px;
        align-items: flex-start;
        h2 {
            padding: 57px 107px;
        }
    }

    .imgS-2 {
        padding: 8px;
        height: 1003px;
    }

    
    .imgS-3 {
        img {
        width: 100%;
        padding: 10px;
        }
        p {
            padding: 9px;
            margin-top: 0px;
            }
        }

    footer section{
        align-items: baseline;
        padding: 15px;
    }
    .barraFooter-2 {
        margin-top: 5px;
        h3 {
            margin-top: 0px;
            margin-left: 4px;
            margin-bottom: 0px;
        ul{
            margin-top: 10px;
            margin-bottom: 0px;
        }
        }
    }

        .barraFooter{
            gap: 10px;
            li {
                a {
                    img{
                width: 10px;
                height: 10px;
                        }
                    }
                }
        }

    
}