@media (max-width:768px){
    header{
        padding: 10;

    }
    .barraNav{
        gap: 40px;
    }

    .bannerDiv{
        h1{ padding: 15px;
    
        }
    }
    .serviciosRow-1 {
        gap: 113px;
        padding: 46px;
    }
    .serviciosRow-2 {
        gap: 48px;
        padding: 37px;

    .serviciosRow-2 {
        gap: 33px;
    }
    .gridsHabitaciones {
        h2 {
        margin-top: 31px;
        }
        img{
            width: 100%;
        }
        }

    }
}