@media (max-width:562px){


.galeria {
    width: 24rem;
    height: 15rem;
    }
    .imgS-2 {
            padding: 24px;
            height: 901px;
    }

    .imgS-3 {
        padding: 4px;
        height: 625px;
    }


}