@media (max-width:860px) {

header{
    justify-content: center;
        margin: 0px;
        position: static;
        padding: 20px;
}

.barraNav{

    li{

        a{
        font-size: 15px;
        font-weight: bold;
        }
    }
}

.logo-1{
        display: none;
}


    .bannerDiv{
        
        img{
            width: 100%;
            height: auto;
        }
        h1{
            padding: 20px;
            top: 30%;
            font-size: 30px;
        
        }
    }

    .item-2 {
        p {
        
    padding: 25px;
        }
    }

.serviciosRow-2 {
    gap: 15px;
    padding: 10px;
}


.imgS-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 490px;
}


.imgS-2 {
    
    padding: 28px;
    height: 590px;
    justify-content: center
    img{
    width: 239px;
    padding: 0px;
    } 
}

}